body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.definition-of-company{
    color: #4D5AE5;
}
.header-main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}
.list-of-definitions{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color:#2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.link-of-definitions{
    color: #2E2F42;

}
.list-of-definitions .link-of-definitions:hover{
    color: #404BBF;
}
.list-of-definitions .link-of-definitions:focus{
    color: #404BBF;
}
.my-contacts-list{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    font-style: normal;
}
.contacts-of-company {
    color: #434455;
    letter-spacing: 0.02em;
}
.contacts-of-company:hover {
    color: #404BBF;
}
.contacts-of-company:focus {
    color: #404BBF;
}
.fon-main-head{
    background-color: #2E2F42;
}
.main-head-name{
    font-size: 56px;
    line-height: 1.07;
    background-color: #2E2F42;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
}
.button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.head-of-benefits{
    font-size: 20px;
    line-height: 1.2;
    background-color: #ffffff;
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.benefits{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.members-team-fon{
    background-color: #F4F4FD;
}
.list-of-members{
    background-color: #ffffff;
}
.our-team-members{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2E2F42;
    font-weight: 700;
}
.team-members-name{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #2E2F42;
    font-weight: 500;
}
.team-member-position{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    background-color: #2E2F42;
    color: #F4F4FD;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.our-team-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42
}
.team-apps-name{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-apps-description{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.end-of-page{
    background-color: #2E2F42;
}
.footer-main-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD; 
}
.name-of-logo{
    color: #4D5AE5;
}