body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    text-decoration: none;
    list-style:none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}
.header-container-box .container{
    display: flex;
    justify-content: space-between;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.visually-hidden {
    position: fixed;
    transform: scale(0);
}
.header-container-box{
    border-bottom: 1px solid #e7e9fc;
}
.nav-container-box{
    display: flex;
    gap: 40px;
    align-items: center;
}
.adress-contacts-box{
    box-sizing: border-box;
    display: flex;
    font-style: italic;
    unicode-bidi: isolate;
    list-style-type: none;
    gap: 40px;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: auto;
}
.definition-of-company{
    color: #2E2F42;
    margin-right: 76px;
}
.header-main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.list-of-definitions{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color:#2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.link-of-definitions{
    color: #2E2F42;
    padding: 24px 0;

}
.list-of-definitions .link-of-definitions:hover{
    color: #404BBF;
}
.list-of-definitions .link-of-definitions:focus{
    color: #404BBF;
}
.section-of-contacts{
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    list-style-type: none;
}
a.link{
    text-decoration: none;
}
.adress-container-box {
    display: flex;
    gap: 40px;
    list-style-type: none;
}
.my-contacts-list{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    display: flex;
    align-items: center;
}
.contacts-of-company {
    color: #434455;
    letter-spacing: 0.02em;
}
.contacts-of-company:hover {
    color: #404BBF;
}
.contacts-of-company:focus {
    color: #404BBF;
}
.fon-main-head{
    background-color: #2E2F42;
    padding: 188px 0;
}
.main-head-name{
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    background-color: #2E2F42;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
}
.button{
    border-radius: 4px;
    border: none;
    height: 56px;
    min-width: 169px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.benefits-list-box{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.list-benefits-item{
    width: calc((100% - 72px) / 4);
}
.benefits-container-box{
    padding: 120px 0;
}
.head-of-benefits{
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    background-color: #ffffff;
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.benefits{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.members-team-fon{
    padding: 120px 0;
    background-color: #F4F4FD;
}
.list-of-members{
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: 342px;
}
.staff-container-box{
    display: flex;
    gap: 24px;
    list-style-type: none;
}
.our-team-members{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2E2F42;
    font-weight: 700;
}
.name-position-box{
    padding: 32px 0;
}
.team-members-name{
    margin-bottom: 8px;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #2E2F42;
    font-weight: 500;
}
.team-member-position{
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    
}
.production-container-box{
    padding-top: 120px;
    padding-bottom: 120px;
}
.our-team-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.list-of-production{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    list-style-type: none;
}
.team-apps-name{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-apps-description{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.name-app-container{
    width: calc((100% - 48px) / 3);
    
}
.name-type-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.end-of-page{
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-main-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
    margin-bottom: 16px;
    display: inline-block;
}
.a {
    display: inline-block;
}
.name-of-logo{
    color: #F4F4FD;
}