body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.header-main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.list-of-definitions{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color:#2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.my-contacts-list{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    font-style: normal;
}
.main-head-name{
    font-size: 56px;
    line-height: 1.07;
    background-color: #2E2F42;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.02em;
}
.button{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 0.04em;
}
.head-of-benefits{
    font-size: 20px;
    line-height: 1.2;
    background-color: #ffffff;
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.benefits{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.our-team-members{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color: #F4F4FD;
    color: #2E2F42;
    font-weight: 700;
}
.team-members-name{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #2E2F42;
    font-weight: 500;
}
.team-member-position{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    background-color: #2E2F42;
    color: #F4F4FD;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.our-team-portfolio{

}
.team-apps-name{

}
.team-apps-description{
    
}
.footer-main-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.name-of-logo{
    color: #F4F4FD;
}