body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}
.section{
    padding: 120px 0;
}
ul,
ol {
    margin: 0;
    padding: 0;
}
.header-container-box .container{
    display: flex;
    justify-content: space-between;
}
img {
    display: block;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.header-container-box{
    border-bottom: 1px solid #e7e9fc;
}
.a{
    text-decoration: none;
    color: currentColor;
}
.nav-container-box{
    display: flex;
    align-items: center;
}
.end-of-page .description{
    max-width: 264px;
}
.address-contacts-box{
    display: flex;
    font-style: normal;
    unicode-bidi: isolate;
    gap: 40px;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    margin-left: auto;
    align-items: center;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.definition-of-company{
    color: #2E2F42;
}
.header-main-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}
.list-of-definitions{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color:#2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
    padding: 24px 0;
}
.link-of-definitions{
    color: #2E2F42;
    padding: 24px 0;

}
.section-of-contacts .list-of-definitions:active,
.section-of-contacts .list-of-definitions:hover,
.section-of-contacts .list-of-definitions:focus{
    color: #404BBF;
}

.section-of-contacts{
    display: flex;
    gap: 40px;
}
.section-of-contacts .list-of-definitions{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}
a.link{
    text-decoration: none;
}
.address-container-box {
    display: flex;
    gap: 40px;
    font-style: normal;
    padding: 24px 0;
}
.contacts-of-company {
    color: #434455;
    letter-spacing: 0.02em;
}
.address-container-box .contacts-of-company{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-contacts-box .contacts-of-company:hover,
.address-contacts-box .contacts-of-company:active,
.address-contacts-box .contacts-of-company:focus{
    color: #404BBF;
}
.fon-main-head{
    background-color: #2E2F42;
    padding: 188px 0;
}
.main-head-name{
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    color: #ffffff;
    margin: 0 auto 48px auto;
    max-width: 496px;
}
.button{
    color: white;
        background-color: #4D5AE5;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        padding: 16px 32px;
        border: 0;
        border-radius: 4px;
        min-width: 169px;
        display: block;
        margin: 0 auto;
}
.button:hover {
    background-color: #404BBF;
}
.button:focus {
    background-color: #404BBF;
}
.benefits-container-box .head-of-benefits{
    margin-bottom: 8px;
}
.benefits-list-box{
    display: flex;
    gap: 24px;
}
.list-benefits-item{
    width: calc((100% - 72px) / 4);
}
.benefits-container-box{
    padding: 120px 0;
}
.head-of-benefits{
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.2;
    background-color: #ffffff;
    color: #2E2F42;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.benefits{
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.members-team-fon{
    background-color: #F4F4FD;
}
.members-team-fon .our-team-members{
    margin-bottom: 72px;
}
.list-of-members{
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.staff-container-box{
    display: flex;
    gap: 24px;
}
.our-team-members{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 8px;
}
.members-team-fon .team-members-name{
    margin-bottom: 8px;
}
.name-position-box{
    padding: 32px 0;
    text-align: center;
    width: 264px;
}
.team-members-name{
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    font-weight: 500;
}
.team-member-position{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.description {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    
}

.production-container-box .our-team-portfolio{
    margin-bottom: 72px;
}

.our-team-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}
.list-of-production{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: space-between;
}
.team-apps-name{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.team-apps-description{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.name-app-container{
    width: calc((100% - 48px) / 3);
    
}
.name-type-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.name-type-app .team-apps-name{
    margin-bottom: 8px;
}
.end-of-page{
    background-color: #2E2F42;
    padding: 100px 0;
}
.end-of-page .description{
    color: #F4F4FD;
    max-width: 264px;
}
.end-of-page .footer-main-logo{
    display: inline-block;
    margin-bottom: 16px;
}
.footer-main-logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5; 
    margin-bottom: 16px;
    display: inline-block;
}
.a {
    display: inline-block;
}
.name-of-logo{
    color: #F4F4FD;
}